* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 94px;
  position: relative;
}

body.debug * {
  outline: 1px solid red;
}
/* 
body::before {
  content: '';
  position: absolute;
  left: -35%;
  top: -5%;
  display: none;
  width: 479px;
  height: 497px;
  border-radius: 50%;
  background-color: #d5aee4;
  filter: blur(150px);
  z-index: -10;
} */

body::after {
  content: url(assets/svgs/blob.svg);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 872px;
  z-index: -10;
}

.container {
  margin: auto;
}

.buttons:hover {
  cursor: pointer;
}

/* _Navbar */
.section--header {
  padding: 24px 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  transition: 300ms;
}

.section--header.scroll {
  background-color: white;
  transition: 700ms;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.section--header .navbar {
  padding: 0 32px;
}

.section--header .navbar .nav__container {
  max-width: 1161px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--header .nav__items {
  display: flex;
  align-items: center;
}

.section--header .nav__links {
  display: flex;
  list-style: none;
  column-gap: 55px;
  margin-right: 86px;
}

.section--header .nav__link {
  text-decoration: none;
  color: #212832;
  font-weight: 500;
  font-size: 17px;
}

.section--header .nav__extra {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.section--header .nav__buttons {
  display: flex;
  column-gap: 16px;
}

.section--header .buttons {
  background-color: transparent;
  padding: 8px 22px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  border: 2px solid transparent;
  transition: 200ms;
}

.section--header .button--login:hover {
  border: 2px solid #212832;
}

.section--header .button--signup {
  border: 2px solid #212832;
}

.section--header .nav__toggle--dropdown {
  display: flex;
  column-gap: 6px;
  align-items: center;
}

.section--header .nav__current-value {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
}

.section--header .nav__dropdown .nav__values--dropdown {
  display: none;
}

/* _Hero */
.section--hero {
  min-height: calc(100vh - 94px);
  display: flex;
  width: 100vw;
  align-items: center;
  overflow: hidden;
}

.section--hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section--hero .hero__headline--highlight {
  color: #df6951;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.section--hero .hero__headline,
.section--hero .hero__headline--underline {
  font-size: 84px;
  font-family: Volkhov, serif;
  font-weight: 700;
  color: #181e4b;
  line-height: 89px;
  letter-spacing: -4px;
}

.section--hero .hero__headline--underline {
  position: relative;
}

.section--hero .hero__headline--underline::after {
  content: url(assets/svgs/underline.svg);
  display: block;
  position: absolute;
  bottom: 0;
  z-index: -9;
  left: -20%;
}

.section--hero .hero__description {
  color: #5e6282;
  font-weight: 500;
  line-height: 30px;
  margin: 30px 0 34px;
}

.section--hero .hero__cta {
  display: flex;
  column-gap: 44px;
}

.section--hero .button--cta {
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 26px;
  background-color: #f1a501;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
}

.section--hero .hero__demo {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.section--hero .hero__demo svg {
  cursor: pointer;
}

.section--hero .hero__demo a {
  font-size: 17px;
  font-weight: 500;
  color: #686d77;
  text-decoration: none;
}

/* _Services */
.section--services {
  margin-top: 97px;
}

.section--services .container {
  display: flex;
  justify-content: center;
}

.section--services .heading {
  text-align: center;
}

.section--services .heading__sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
}

.section--services .heading__title {
  font-size: 50px;
  font-weight: 700;
  font-family: Volkhov, serif;
  color: #14183e;
  margin: 12px 0 64px;
}

.section--services .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.section--services .card {
  padding: 38px;
  box-sizing: border-box;
  width: 267px;
  height: 316px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 36px;
  transition: 200ms;
}

.section--services .card.active,
.section--services .card:focus {
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  transform: scale(1.08);
  outline: none;
  cursor: pointer;
}

.section--services .card__title {
  font-size: 20px;
  font-weight: 600;
  color: #1e1d4c;
  margin: 34px 0 16px;
}

.section--services .card__body {
  font-weight: 500;
  color: #5e6282;
  text-align: center;
  line-height: 26px;
}

/* _Destinations */
.section--destinations {
  margin-top: 156px;
}

.section--destinations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--destinations .heading {
  text-align: center;
}

.section--destinations .heading__sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
}

.section--destinations .heading__title {
  font-size: 50px;
  font-weight: 700;
  color: #14183e;
  font-family: Volkhov;
  margin: 8px 0 60px;
}

.section--destinations .cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 34px;
  flex-wrap: wrap;
}

.section--destinations .card {
  border-radius: 24px;
  overflow: hidden;
  /* box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 65px 47px rgba(0, 0, 0, 0.015), 0 39px 26px rgba(0, 0, 0, 0.0121), 0 20px 13px rgba(0, 0, 0, 0.01), 0 9px 7px rgba(0, 0, 0, 0.079), 0 2px 4px rgba(0, 0, 0, 0.048); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05), 0 8px 18px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.section--destinations .card__image {
  width: 315px;
  height: 327px;
}

.section--destinations .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section--destinations .card__body {
  padding: 26px 20px 42px 20px;
  background-color: white;
}

.section--destinations .card__content--top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: #5e6282;
}

.section--destinations .card__content--bottom {
  display: flex;
  column-gap: 14px;
  align-items: center;
  margin-top: 19px;
}

.section--destinations .card__detail {
  font-weight: 500;
  color: #5e6282;
}

/* _Trip */
.section--trip {
  margin-top: 186px;
}

.section--trip .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 118px;
}

.section--trip .main .heading__sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
}

.section--trip .main .heading__title {
  font-size: 50px;
  font-weight: 700;
  color: #14183e;
  font-family: Volkhov;
  margin: 16px 0 32px;
}

.section--trip .main .steps-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 48px;
}

.section--trip .main .step__item {
  display: flex;
  column-gap: 22px;
}

.section--trip .main .step__icon {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}

.section--trip .step__item--destination .step__icon {
  background-color: #f0bb1f;
}

.section--trip .step__item--payment .step__icon {
  background-color: #f15a2b;
}

.section--trip .step__item--airport .step__icon {
  background-color: #006380;
}

.section--trip .step__title {
  font-weight: 500;
  color: #5e6282;
}

.section--trip .step__description {
  color: #5e6282;
  margin-top: 4px;
  max-width: 327px;
}

.section--trip .card {
  box-shadow: 0 4px 24px 8px rgba(0, 0, 0, 0.05);
  border-radius: 26px;
  padding: 20px 24px 32px 24px;
  transform: translateX(-20%);
  position: relative;
  background-color: white;
  z-index: 1;
}

/* .section--trip .card::before {
  content: '';
  display: block;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -9;
  width: 200px;
  height: 200px;
  background-color: #59b1b6;
  filter: blur(150px);
  border-radius: 50%;
} */

.section--trip .card__body {
  position: relative;
}

.section--trip .card .card__image {
  max-width: 321px;
  max-height: 161px;
  border-radius: 24px;
  overflow: hidden;
}

.section--trip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section--trip .card__title {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin: 26px 0 12px;
}

.section--trip .card__detail {
  font-weight: 500;
  color: #84829a;
  display: flex;
  column-gap: 16px;
}

.section--trip .card__icon-wrapper {
  display: flex;
  list-style: none;
  column-gap: 18px;
  margin: 22px 0 30px;
}

.section--trip .card__icon-wrapper .card__icon {
  width: 36px;
  height: 36px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.section--trip .card__content--bottom {
  display: flex;
  justify-content: space-between;
}

.section--trip .card__info {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.section--trip .card__visitor {
  font-weight: 500;
  color: #84829a;
}

.section--trip .card__extra {
  position: absolute;
  left: 50%;
  bottom: 30px;
  background-color: white;
  display: flex;
  padding: 18px 20px 22px;
  column-gap: 12px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.section--trip .card__extra .card__image {
  width: 50px;
  height: 50px;
}

.section--trip .card__extra .card__status {
  font-size: 14px;
  font-weight: 500;
  color: #84829a;
}

.section--trip .card__extra .card__trip {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin: 6px 0 14px;
}

.section--trip .card__extra .card__progress {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #080809;
  column-gap: 4px;
  margin-bottom: 10px;
}

.section--trip .card__extra .card__total {
  color: #8a79df;
}

.section--trip .card__like {
  stroke: #4152ca;
  transition: 200ms;
  cursor: pointer;
}

.section--trip .card__like.active {
  transform: scale(1.1);
  fill: #4152ca;
  transition: 300ms;
}

.section--trip .card__extra .card__progress-bar-wrapper {
  width: 156px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.section--trip .card__extra .card__progress-bar {
  width: 40%;
  background-color: #8a79df;
  height: 5px;
}

/* _Testimonial */
.section--testimonials {
  margin-top: 209px;
}

.section--testimonials img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section--testimonials .container__up {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section--testimonials .heading__sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
}

.section--testimonials .heading__title {
  font-size: 50px;
  font-weight: 700;
  color: #14183e;
  margin: 8px 0 82px;
  width: 409px;
  font-family: Volkhov;
}

.section--testimonials .indicators-wrapper {
  display: flex;
  column-gap: 26px;
}

.section--testimonials .indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e5e5e5;
  transition: 1s;
}

.section--testimonials .indicator--active {
  background-color: #39425d;
}

.section--testimonials .cards-wrapper {
  position: relative;
}

.section--testimonials .cards-wrapper.active .testimonial__card.next {
  animation: activeCards 2s forwards ease-in-out;
}

@keyframes activeCards {
  100% {
    bottom: 0;
    left: 0;
    z-index: 99;
    opacity: 1;
  }
}

.section--testimonials .testimonial__card {
  width: 504px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 28px 34px;
  box-sizing: border-box;
  margin-top: 34px;
  /* margin-top: 500px; */
  position: absolute;
  right: 0;
  background-color: white;
  opacity: 0;
  border: 2px solid transparent;
}

.section--testimonials .testimonial__card.active {
  transition: bottom 1s, left 1s;
  transition: 1s;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.section--testimonials .testimonial__card.next {
  bottom: -90px;
  left: 50px;
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.09);
  transition: bottom 1s, left 1s;
  opacity: 1;
  z-index: -1;
}

.section--testimonials .testimonial__text {
  font-size: 18px;
  font-weight: 500;
  color: #5e6282;
  max-width: 402px;
  line-height: 32px;
}

.section--testimonials .testimonial__name {
  font-size: 18px;
  font-weight: 600;
  color: #5e6282;
  margin: 34px 0 5px;
}

.section--testimonials .testimonial__address {
  font-size: 14px;
  font-weight: 500;
  color: #5e6282;
}

.section--testimonials .testimonial__image {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: -34px;
  top: -34px;
}

.section--testimonials .container__down {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 173px;
  column-gap: 90px;
}

/* _Subscribe */
.section--subscribe {
  margin-top: 111px;
}

.section--subscribe .container {
  background-color: rgba(223, 215, 249, 0.2);
  padding: 79px 0;
  box-sizing: border-box;
  border-radius: 130px 20px 20px 20px;
  position: relative;
}

.section--subscribe .heading__title {
  font-size: 33px;
  font-weight: 600;
  color: #5e6282;
  text-align: center;
  max-width: 881px;
  margin: auto;
}

.section--subscribe .subscribe__form {
  display: flex;
  column-gap: 24px;
  margin-top: 74px;
  justify-content: center;
}

.section--subscribe .subscribe__input {
  width: 421px;
  height: 68px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 99;
}

.section--subscribe .subscribe__input input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  border: none;
  padding-left: 55px;
  box-sizing: border-box;
}

.section--subscribe .label-wrapper {
  position: absolute;
  z-index: 1;
  left: 24px;
  top: 50%;
  display: flex;
  align-items: center;
  line-height: 0;
  transform: translateY(-50%);
  column-gap: 14px;
  pointer-events: none;
}

.section--subscribe .subscribe__label--icon {
  pointer-events: none;
}

.section--subscribe .subscribe__label--text {
  pointer-events: none;

  font-size: 14px;
  color: #39425d;
  font-family: Montserrat;
}

.section--subscribe .subscribe__button {
  padding: 22px 50px;
  border: none;
  font-family: 'Open sans';
  color: white;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ff946d, #ff7d68);
  z-index: 99;
}

.section--subscribe .subscribe__icon {
  position: absolute;
  right: -25px;
  top: -25px;
}

.section--subscribe .subscribe__circle--bottom {
  left: 32px;
  position: absolute;
  bottom: 0;
}

.section--subscribe .subscribe__circle--top {
  right: 0;
  position: absolute;
  top: 0;
}

/* _Footer */
.section--footer {
  margin-top: 166px;
}

.section--footer .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section--footer .footer__company-title {
  font-size: 44px;
  font-weight: 500;
  color: #181e4b;
}

.section--footer .footer__company-description {
  font-size: 13px;
  font-weight: 500;
  color: #5e6282;
  width: 207px;
}

.section--footer .col__title {
  font-size: 21px;
  font-weight: 700;
  color: #080809;
}

.section--footer .col__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  list-style: none;
  margin-top: 34px;
}

.section--footer .col__link {
  font-size: 18px;
  font-weight: 500;
  color: #5e6282;
  text-decoration: none;
}

.section--footer .social-media-wrapper {
  display: flex;
  list-style: none;
  column-gap: 25px;
}

.section--footer .social-media-wrapper li {
  width: 41px;
  height: 41px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--footer .social-media-wrapper li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section--footer .col__discover {
  font-size: 20px;
  font-weight: 500;
  color: #5e6282;
  margin: 26px 0 12px;
}

.section--footer .footer__buttons {
  display: flex;
  column-gap: 8px;
}

.section--footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  background-color: #080809;
  border-radius: 17.5px;
  border: none;
}

.section--footer .btn-google-playstore {
  width: 107px;
  height: 35px;
}

.section--footer .btn-apple-store {
  width: 100px;
  height: 35px;
}

.section--footer .footer__copyright {
  font-size: 14px;
  font-weight: 500;
  color: #5e6282;
  text-align: center;
  margin: 84px 0 79px;
}

/* =============== Media Query =============== */

/* _xm */
@media (width < 576px) {
  .container {
    width: 85vw;
  }

  .section--hero .hero__headline--highlight {
    font-size: 16px;
  }

  .section--hero .main .hero__headline,
  .section--hero .main .hero__headline--underline {
    font-size: 42px;
    line-height: 40px;
  }

  .section--hero .main .hero__headline--underline {
    position: relative;
  }

  .section--hero .main .hero__headline--underline::after {
    content: url(assets/svgs/underline.svg);
    display: none;
    position: absolute;
    bottom: 0;
    z-index: -9;
    left: -20%;
    width: 100%;
  }

  .section--hero .main .hero__description {
    max-width: 80vw;
  }

  .section--hero .main .hero__cta {
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .section--hero .button--cta {
    font-size: 16px;
  }

  .section--hero .hero__demo {
    column-gap: 8px;
  }

  .section--hero .hero__demo a {
    font-size: 16px;
  }

  .section--hero img.hero__image {
    width: 80vw;
  }

  .section--services .heading__title {
    font-size: 34px;
  }

  .section--destinations .heading__title {
    font-size: 34px;
  }

  .section--testimonials .main .heading__title {
    font-size: 34px;
  }

  .section--testimonials .cards-wrapper .testimonial__image {
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
  }

  .section--testimonials .cards-wrapper .testimonial__card {
    width: 300px;
    transform: translateX(20px);
    /* transform: translateX(0px); */
  }

  .section--testimonials .testimonial__card.next {
    left: 35px;
  }
}

/* _sm */
@media (576px <= width < 768px) {
  .container {
    max-width: 540px;
  }

  .section--hero .main .hero__headline,
  .section--hero .main .hero__headline--underline {
    font-size: 62px;
    line-height: 60px;
  }

  .section--hero .main .hero__description {
    max-width: 80vw;
  }

  .section--services .heading__title {
    font-size: 38px;
  }

  .section--destinations .heading__title {
    font-size: 38px;
  }

  .section--testimonials .cards-wrapper .testimonial__card {
    width: 400px;
    transform: translateX(34px);
  }
}

/* _md */
@media (768px <= width < 992px) {
  .container {
    max-width: 720px;
  }

  .section--hero .hero__headline,
  .section--hero .hero__headline--underline {
    font-size: 92px;
    line-height: 94px;
  }
}

/* Max Tablet */
@media (width < 768px) {
  .section--subscribe .container {
    padding: 79px 32px;
  }

  .section--subscribe .subscribe__input {
    width: 100%;
  }

  .section--subscribe .heading__title {
    font-size: 22px;
  }

  .section--subscribe .subscribe__form {
    flex-direction: column;
    row-gap: 16px;
  }

  .section--footer .main {
    gap: 24px;
  }
}

/* Max Laptop */
@media (width < 992px) {
  .section--header .nav__toggle {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section--header .nav__toggle span {
    display: block;
    height: 3px;
    border-radius: 10px;
    background-color: #212832;
  }

  .section--header .navbar .nav__items {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 32px;
    padding: 94px 24px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: -100%;
    width: 80vw;
    height: 100vh;
    background-color: #fff1da;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.08);
    transition: 300ms;
  }

  .section--header .navbar.active .nav__items {
    right: 0;
  }

  .section--header .navbar.active .nav__items .nav__links {
    flex-direction: column;
    row-gap: 24px;
  }

  .section--header .navbar.active .nav__extra {
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
  }

  .section--header .navbar.active .nav__buttons {
    flex-wrap: wrap;
  }

  .section--header .navbar .nav__toggle span:first-child {
    transition: 300ms;
  }

  .section--header .navbar .nav__toggle span:nth-child(2) {
    transition: 200ms;
  }

  .section--header .navbar .nav__toggle span:last-child {
    transition: 300ms;
  }

  .section--header .navbar.active .nav__toggle span:first-child {
    transform: rotate(-45deg);
    transform-origin: top right;
    transition: 300ms;
  }

  .section--header .navbar.active .nav__toggle span:nth-child(2) {
    opacity: 0;
    transition: 300ms;
  }

  .section--header .navbar.active .nav__toggle span:last-child {
    transform: rotate(45deg);
    transform-origin: bottom right;
    transition: 300ms;
  }

  .section--hero .container {
    flex-direction: column;
    align-items: start;
    row-gap: 32px;
  }

  .section--hero .hero__image {
    width: 70vw;
    height: unset;
    aspect-ratio: 1 / 1;
    margin: auto;
  }

  .section--trip .container {
    flex-direction: column;
    row-gap: 64px;
  }

  .section--trip .main .heading__title {
    font-size: 34px;
  }

  .section--trip .container .card {
    left: unset;
    transform: translateX(0);
  }

  .section--trip .card__extra {
    display: none;
  }

  .section--testimonials .heading__title {
    font-size: 40px;
    max-width: 85vw;
  }

  .section--testimonials .container__up {
    grid-template-rows: 1fr 300px;
    grid-template-columns: 1fr;

    row-gap: 64px;
    grid-template-areas:
      'heading'
      'card';
  }

  .section--testimonials .main {
    grid-area: heading;
  }

  .section--testimonials .cards-wrapper {
    grid-area: card;
    justify-self: start;
    /* outline: 1px solid red; */
    transform: translateY(22px);
  }
}

/* Min Laptop */
@media screen and (min-width: 992px) {
  .section--header .nav__toggle {
    display: none;
  }

  .section--testimonials .cards-wrapper {
    transform: translateY(50px);
  }
}

/* _lg */
@media (992px <= width < 1200px) {
  .container {
    max-width: 960px;
  }

  .section--header .nav__links {
    column-gap: 24px;
  }

  .section--hero .hero__headline,
  .section--hero .hero__headline--underline {
    font-size: 64px;
    line-height: 62px;
  }

  .section--hero .hero__description {
    width: 30vw;
  }

  .section--hero .hero__image {
    width: 45vw;
  }
}

/* xl */
@media (1200px <= width < 1440px) {
  .container {
    max-width: 1200px;
  }

  .section--hero .hero__image {
    width: 45vw;
  }
}

/* xxl */
@media (width >= 1440px) {
  .container {
    max-width: 1201px;
  }

  .section--hero .hero__image {
    width: 45vw;
  }
}
